body {
  background-color: #fcfdfd;
  /* Light blue background color */
  margin: 0;
  /* Remove default margin */
  font-family: Arial, sans-serif;
  /* Set a default font family */
}

.container {
  max-width: 1500px;
  /* Set a maximum width for content */
  margin: 0 auto;
  /* Center the container horizontally */
  padding: 0;
  /* Add some padding to the container */
}

h1 {
  color: #333;
  /* Set heading color */
}

p {
  color: #555;
  font-size: smaller;
}

header {
  background-color: #e8edb7; /* Muted background color */
  color: #666; /* Muted text color */
  text-align: center;
  padding: 10px 0; /* Smaller padding */
  border-bottom: 2px solid #ddd; /* Thinner border */
}
nav {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ddd; /* Thinner border */
  padding: 5px 0; /* Smaller padding */
}
nav a {
  color: #333; /* Muted text color */
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px; /* Smaller padding */
  border: 1px solid #ddd; /* Thinner border */
  border-radius: 5px; /* Smaller border radius */
}
nav a:hover {
  background-color: #ddd; /* Muted background color on hover */
  color: #000; /* Darker text color on hover */
}